Django==5.2.11
djangorestframework==3.16.1
celery==5.5.3
redis==6.4.0
django-celery-beat==2.8.1
psycopg[binary]==3.2.10
httpx==0.28.1
beautifulsoup4==4.13.5
gunicorn==23.0.0
whitenoise==6.9.0
bandit==1.7.9
